@font-face {
  font-family: "mikhak-bold";
  src: url("Mikhak-Bold.woff") format("woff"),
    url("Mikhak-Bold.woff2") format("woff2");
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #4b967d;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  color: white;
  font-size: 1.6rem;
}
.circlicked {
  border-radius: 1rem !important;
  width: 20rem;
  height: 8rem;
  transition: all.5s;
  transform: translate(-6rem, -5rem);
  transform-origin: top left;
}
.active {
  width: 20rem;
  height: 8rem;
  /* border: 1px dashed white; */
  transition: all 0.5s;
  display: none;
  position: relative;
  z-index: 2;
}
.cus {
  width: 100%;
  height: 115%;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  transition: all 0.5s;
}

.ctxt {
    position: absolute;
  font-family: "mikhak-bold";
  display: flex;
  flex-direction: column;
  width: 60%;
  bottom: -3.5rem;
  padding-right: 1rem;
  padding-top: 1.7rem;
  font-size: 1.3rem;
  text-align: center;
}
.cnumb{
    width: 100%;
    height: 10%;
    color: rgb(88, 88, 88);
    background-color: white;
    border-radius: 10px;
    padding: 0 .5rem 0 .5rem;
    font-size: 1.2rem;
}
.active > a {
  text-decoration: none;
  color: white;
}


.container {
  direction: rtl;
  display: flex;
  justify-content: space-between;
}
